// Global styling for this template
body,
html {
	width: 100%;
	height: 100%;
}

// Typography
.text-white-75 {
	color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
	max-width: 3.25rem;
	border-width: 0.2rem;
	border-color: $primary;
}

hr.light {
	border-color: $white;
}

// Button restyling
.btn {
	font-family: $font-family-sans-serif;
}

.btn-xl {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}

// Page section padding
.page-section {
	padding: 8rem 0;
}

// Modal
.modal-backdrop {
	background-color: #0b0b0b;
}

.modal-backdrop.show {
	opacity: 0.8;
}

//Services

#services p {
	font-size: 14px;
}

//Contact

#contact {
	padding-bottom: 5rem;
}

.social {
	margin-top: 3rem;
}
.social-buttons {
	margin-top: 1.5rem;
}
.social-buttons li {
	list-style-type: none;
	display: inline;
	cursor: pointer;
	margin: 0 1rem;
}

//Footer

footer {
	background-color: $bg-navfoo;
	font-family: $font-family-sans-serif;
}